<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlcook.iqas.ios.mapper.UserTestMapper" >
  <resultMap id="BaseResultMap" type="com.zlcook.iqas.ios.bean.UserTest" >
    <id column="usertest_id" property="usertestId" jdbcType="INTEGER" />
    <result column="answertimes" property="answertimes" jdbcType="INTEGER" />
    <result column="righttimes" property="righttimes" jdbcType="INTEGER" />
    <result column="testin_time" property="testinTime" jdbcType="TIMESTAMP" />
    <result column="testout_time" property="testoutTime" jdbcType="TIMESTAMP" />
    <result column="testtype" property="testtype" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="wrongtimes" property="wrongtimes" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    usertest_id, answertimes, righttimes, testin_time, testout_time, testtype, user_id, 
    word, wrongtimes
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zlcook.iqas.ios.bean.UserTestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_test
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_test
    where usertest_id = #{usertestId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_test
    where usertest_id = #{usertestId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zlcook.iqas.ios.bean.UserTestExample" >
    delete from user_test
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zlcook.iqas.ios.bean.UserTest" >
    insert into user_test (usertest_id, answertimes, righttimes, 
      testin_time, testout_time, testtype, 
      user_id, word, wrongtimes
      )
    values (#{usertestId,jdbcType=INTEGER}, #{answertimes,jdbcType=INTEGER}, #{righttimes,jdbcType=INTEGER}, 
      #{testinTime,jdbcType=TIMESTAMP}, #{testoutTime,jdbcType=TIMESTAMP}, #{testtype,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{word,jdbcType=VARCHAR}, #{wrongtimes,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlcook.iqas.ios.bean.UserTest" >
    insert into user_test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usertestId != null" >
        usertest_id,
      </if>
      <if test="answertimes != null" >
        answertimes,
      </if>
      <if test="righttimes != null" >
        righttimes,
      </if>
      <if test="testinTime != null" >
        testin_time,
      </if>
      <if test="testoutTime != null" >
        testout_time,
      </if>
      <if test="testtype != null" >
        testtype,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="word != null" >
        word,
      </if>
      <if test="wrongtimes != null" >
        wrongtimes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usertestId != null" >
        #{usertestId,jdbcType=INTEGER},
      </if>
      <if test="answertimes != null" >
        #{answertimes,jdbcType=INTEGER},
      </if>
      <if test="righttimes != null" >
        #{righttimes,jdbcType=INTEGER},
      </if>
      <if test="testinTime != null" >
        #{testinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testoutTime != null" >
        #{testoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testtype != null" >
        #{testtype,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="wrongtimes != null" >
        #{wrongtimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zlcook.iqas.ios.bean.UserTestExample" resultType="java.lang.Integer" >
    select count(*) from user_test
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_test
    <set >
      <if test="record.usertestId != null" >
        usertest_id = #{record.usertestId,jdbcType=INTEGER},
      </if>
      <if test="record.answertimes != null" >
        answertimes = #{record.answertimes,jdbcType=INTEGER},
      </if>
      <if test="record.righttimes != null" >
        righttimes = #{record.righttimes,jdbcType=INTEGER},
      </if>
      <if test="record.testinTime != null" >
        testin_time = #{record.testinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.testoutTime != null" >
        testout_time = #{record.testoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.testtype != null" >
        testtype = #{record.testtype,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.word != null" >
        word = #{record.word,jdbcType=VARCHAR},
      </if>
      <if test="record.wrongtimes != null" >
        wrongtimes = #{record.wrongtimes,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_test
    set usertest_id = #{record.usertestId,jdbcType=INTEGER},
      answertimes = #{record.answertimes,jdbcType=INTEGER},
      righttimes = #{record.righttimes,jdbcType=INTEGER},
      testin_time = #{record.testinTime,jdbcType=TIMESTAMP},
      testout_time = #{record.testoutTime,jdbcType=TIMESTAMP},
      testtype = #{record.testtype,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      word = #{record.word,jdbcType=VARCHAR},
      wrongtimes = #{record.wrongtimes,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlcook.iqas.ios.bean.UserTest" >
    update user_test
    <set >
      <if test="answertimes != null" >
        answertimes = #{answertimes,jdbcType=INTEGER},
      </if>
      <if test="righttimes != null" >
        righttimes = #{righttimes,jdbcType=INTEGER},
      </if>
      <if test="testinTime != null" >
        testin_time = #{testinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testoutTime != null" >
        testout_time = #{testoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testtype != null" >
        testtype = #{testtype,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="wrongtimes != null" >
        wrongtimes = #{wrongtimes,jdbcType=INTEGER},
      </if>
    </set>
    where usertest_id = #{usertestId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlcook.iqas.ios.bean.UserTest" >
    update user_test
    set answertimes = #{answertimes,jdbcType=INTEGER},
      righttimes = #{righttimes,jdbcType=INTEGER},
      testin_time = #{testinTime,jdbcType=TIMESTAMP},
      testout_time = #{testoutTime,jdbcType=TIMESTAMP},
      testtype = #{testtype,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      word = #{word,jdbcType=VARCHAR},
      wrongtimes = #{wrongtimes,jdbcType=INTEGER}
    where usertest_id = #{usertestId,jdbcType=INTEGER}
  </update>
</mapper>